body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html {
	background-image: url("http://static1.squarespace.com/static/565b5206e4b01110e1d9b476/567f4968841abaa3c91a7539/567f4976c21b8647030cea7c/1451182463389/IMG_4580.png?format=750w");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

li {
  color: #00B7FF;
  list-style-type: none;
}

p {
    font-family: "Helvetica", Times, serif;
}